<template>
  <div class="container">
    <Toast />
    <ConfirmDialog></ConfirmDialog>
    <form class="filter" @submit.prevent="handleSubmit('add')" @reset="onReset">
      <div class="form-group">
        <label for="name">Name</label>
        <InputText @change="filter" required v-model="name" id="name" />
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <Textarea @change="filter" required v-model="description" id="desc" />
      </div>
      <div
        class="btn-submit"
        style="display: flex; gap: 2rem; justify-content: end"
      >
        <Button label="Filter" @click="filter" />
        <Button id="addP" type="submit" label="Add" />
        <Button
          style="background-color: grey; border: none"
          type="reset"
          label="Reset"
        />
      </div>
    </form>
    <Dialog modal v-model:visible="visible">
      <form class="filter" @submit.prevent="handleSubmit('update')">
        <div class="form-group">
          <label for="name">Name</label>
          <InputText required v-model="name" id="name-d" />
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <Textarea required v-model="description" id="desc-d" />
        </div>
        <div
          class="btn-submit"
          style="display: flex; gap: 2rem; justify-content: end"
        >
          <Button type="submit" label="Save" />
        </div>
      </form>
    </Dialog>
    <h2>All products</h2>
    <DataTable
      :paginator="true"
      :rows="5"
      :rows-per-page-options="[5, 20, 50, 100]"
      class="col"
      :value="products"
      tableStyle="min-width: 50rem; border: 1px solid #ccc; text-align: left"
    >
      <Column
        field="id"
        header="ID"
        headerStyle="border: 1px solid #ccc"
        bodyStyle="border: 1px solid #ccc"
      ></Column>
      <Column
        field="createdBy"
        header="Name"
        headerStyle="border: 1px solid #ccc"
        bodyStyle="border: 1px solid #ccc"
      >
      </Column>
      <Column
        field="description"
        header="Description"
        headerStyle="border: 1px solid #ccc"
        bodyStyle="border: 1px solid #ccc"
      ></Column>
      <Column
        header="Action"
        headerStyle="min-width: 10rem"
        bodyStyle="border: 1px solid #ccc"
      >
        <template #body="product">
          <div style="display: flex; gap: 0.2rem">
            <Button
              class="w-3 h-3rem"
              @click="deleteConfirmation(product.data.id)"
              label="Delete"
              severity="danger"
            />
            <Button
              class="w-3 h-3rem"
              @click="
                updating(
                  product.data.id,
                  product.data.createdBy,
                  product.data.description
                )
              "
              label="Update"
            />
          </div>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script lang="ts">
import { onMounted } from "vue";
import { defineComponent, ref } from "vue";
import MockAPI from "./http/MockAPI";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Textarea from "primevue/textarea";
import Dialog from "primevue/dialog";
import ConfirmDialog from "primevue/confirmdialog";
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";
import Toast from "primevue/toast";

type Product = {
  id: number;
  description: string;
  createdBy: string;
};

export default defineComponent({
  name: "App",
  components: {
    DataTable,
    Column,
    Button,
    InputText,
    Textarea,
    Toast,
    Dialog,
    ConfirmDialog,
  },
  setup() {
    const visible = ref(false);
    const products = ref<Product[]>([]);
    const name = ref("");
    const description = ref("");
    const curr_pid = ref(0);

    const toast = useToast();
    const getProducts = async () => {
      await MockAPI.get()
        .then((res) => {
          products.value = res.data;
        })
        .catch((err) => {
          toast.add({
            severity: "error",
            summary: "Something went wrong",
            detail: err,
            life: 3000,
          });
        });
    };

    const deleteProduct = async (param: unknown) => {
      await MockAPI.delete(param)
        .then(async () => {
          await getProducts();
          toast.add({
            severity: "success",
            summary: "Delete Successfully",
            life: 3000,
          });
        })
        .catch(() => {
          toast.add({
            severity: "error",
            summary: "Delete Failed",
            life: 3000,
          });
        });
    };

    const addProduct = async (newProduct: Product) => {
      await MockAPI.post(newProduct)
        .then(async () => {
          await getProducts();
          toast.add({
            severity: "success",
            summary: "Add Successfully",
            life: 3000,
          });
        })
        .catch(() => {
          toast.add({ severity: "error", summary: "Add failed", life: 3000 });
        });
    };

    const updateProduct = async (product: Product) => {
      await MockAPI.put(product)
        .then(async () => {
          await getProducts().then(() => {
            toast.add({
              severity: "success",
              summary: "Update Successfully",
              life: 3000,
            });
            visible.value = false;
          });
        })
        .catch((err) => {
          toast.add({
            severity: "error",
            summary: "Update Failed",
            detail: err,
            life: 3000,
          });
        });
    };

    const updating = (pid: number, pname: string, pdesc: string) => {
      curr_pid.value = pid;
      name.value = pname;
      description.value = pdesc;
      visible.value = true;
    };

    const filter = async () => {
      await getProducts();
      products.value = products.value.filter(
        (p) =>
          p.createdBy.includes(name.value) &&
          p.description.includes(description.value)
      );
    };

    const onReset = () => {
      name.value = "";
      description.value = "";
    };

    const confirm = useConfirm();
    const deleteConfirmation = (pid: number) => {
      confirm.require({
        message: "Delete?",
        header: "Confirmationnnn",
        accept: () => {
          deleteProduct(pid);
          confirm.close();
        },
        reject: () => {
          confirm.close();
        },
      });
    };

    const handleSubmit = async (stat: string) => {
      const newP = {
        createdBy: name.value,
        description: description.value,
        id: 0,
      };
      if (stat === "add") {
        await addProduct(newP);
        name.value = "";
        description.value = "";
      } else if (stat === "update") {
        newP.id = curr_pid.value;
        await updateProduct(newP);
        name.value = "";
        description.value = "";
        curr_pid.value = 0;
      }
    };

    onMounted(() => {
      Promise.all([getProducts()]);
    });

    return {
      products,
      visible,
      deleteProduct,
      addProduct,
      updateProduct,
      getProducts,
      updating,
      filter,
      handleSubmit,
      deleteConfirmation,
      onReset,
      description,
      name,
    };
  },
  methods: {},
  computed: {},
});
</script>

<style>
img {
  width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  padding: 0 10rem;
}

.container .image-preview {
  border: 1px solid #000;
  border-radius: 4px;
  height: 20rem;
  width: 20rem;
  margin-top: 0.8rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.form-group label {
  margin-bottom: 0.8rem;
}
</style>
